.todo {
	margin-bottom: 50px;
	/*font-family: 'Rock Salt', cursive;*/
}

#todoList{
}

.centerIt{
	text-align: center;
}
h1{
	/*font-family: 'Permanent Marker', cursive;*/
	font-family: 'Rock Salt', cursive;
	margin-bottom: 20px;
}
body{
	background: #eaeaea url('../img/bg.png');
}